@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, submit your parcels to get an effort estimation</h1>
    <form action="/Home/ParcelSizes" method="post">
        <label for="small-parcels">Small Parcels:</label><br>
        <input type="number" id="small-parcels" name="small-parcels" min="0"><br>
        <label for="medium-parcels">Medium Parcels:</label><br>
        <input type="number" id="medium-parcels" name="medium-parcels" min="0"><br>
        <label for="large-parcels">Large Parcels:</label><br>
        <input type="number" id="large-parcels" name="large-parcels" min="0"><br>
        <input type="submit" value="Submit">
    </form>
</div>
