@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, submit your parcels to get an effort estimation</h1>
    <form action="/Home/ParcelSizes" method="post">
        <label for="smallParcels">Small Parcels:</label><br>
        <input type="number" id="smallParcels" name="smallParcels" min="0"><br>
        <label for="mediumParcels">Medium Parcels:</label><br>
        <input type="number" id="mediumParcels" name="mediumParcels" min="0"><br>
        <label for="largeParcels">Large Parcels:</label><br>
        <input type="number" id="largeParcels" name="largeParcels" min="0"><br>
        <input type="submit" value="Submit">
    </form>
</div>